.grey-placeholder::placeholder {
    color: grey;
}

.commit-button-container {
    border-radius: 2px;
    border: 1px solid rgba(204, 204, 204, 0.134);
    background-color: #3376cd;
    padding: 2px 0px 2px 0px;
}

.white-border-right {
    border-right: 1px solid #a59d9d81;
}

.temp {
    border: 1px solid red;
}

.profile-img-wrapper {
    display: flex;
    justify-content: center;
}

.profile-image {
    /* max-width: 200px;
    max-height: 200px; */
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.rounded-circle {
    border-radius: 50%;
}